/build/
pubspec.lock
.atom/
.buildlog/
.history
.svn/
.DS_Store
.packages
*.zip
example/.packages
example/ios/
example/android/
example/build/
example/.idea
example/.iml
example/.ipr
example/.iws
example/.atom/
example/.buildlog/
example/.history
example/.svn/
example/pubspec.lock